@use '../variables' as V;

.container {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.img {
    width: 100%; 
    height: auto;
    border-radius: 15px;
}

.textContainer {
    width: 550px;
    height: auto;
    position: relative;
    z-index: 2;
    margin-top: -40%;
    margin-left: 85px;
    h1 {
        color: V.$lightCream;
        font-family: V.$fraunce;
        font-size: 4.75rem;
        line-height: 1;
    }
    p {

        color: V.$grey;
        width: 420px;
        line-height: 1.5;
        margin-top: -2rem;
        margin-bottom: 4rem;
    }
    a {
        color: V.$lightCream;
        background-color: V.$DarkCyan;
        padding: 1rem 1.75rem;
        font-size: 1.20rem;
        border-radius: 5px;
        font-family: V.$fraunce;
        font-weight: 700;
    }
    a:hover {
        filter: brightness(150%);
    }
}