@use '../variables' as V;


.container {
    width: 90%;
    height: auto;
    margin: 0 auto;
}


.img {
    height: 600px;
    border-radius: 15px;
}

.textContainer {
    width: 500px;
    height: 400px;
    border: 1px solid red;
    position: absolute;
    top: 20%;;
    left: 10%;
    h1 {
        color: V.$lightCream;
        font-family: V.$fraunce;
        font-size: 3.5rem;
    }
    p {
        color: V.$grey;
        width: 420px;
        line-height: 1.5;
        margin-bottom: 4rem;
    }
    a {
        color: V.$lightCream;
        background-color: V.$DarkCyan;
        padding: 1rem 1.5rem;
        border-radius: 10px;
        font-family: V.$fraunce;
        font-weight: 700;
    }
}