@use '../variables' as V;

.container {
    width: 80%;
    height: auto;
    margin: 10rem auto -5.5rem auto;
    padding-bottom: 200px;
}

.lead {
    color: V.$grey;
    font-size: 1.5rem;
    font-family: V.$fraunce;
    font-weight: 700;
}

.lineBox {
    margin-top: 4.25rem;
    width: 70%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    border: 2px solid V.$DarkCyan;
    border-radius: 50%;
}

.line {
    width: 47.5%;
    border-bottom: 2px solid V.$PaleOrange;
}

.optionContainer {
    width: 100%;
    height: 400px;
    margin-top: 4.25rem;
    margin-bottom: 4.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.optionBox {
    width: 28%;
    height: auto;
    h1 {
        margin-top: 0;
        color: V.$PaleOrange;
        font-size: 4.5rem;
        font-family: V.$fraunce;
    }
    h3 {
        color: V.$DarkGreyBlue;
        font-family: V.$fraunce;
        font-size: 2.2rem;
        width: 70%;
    }
    p {
        color: V.$DarkGreyBlue;
        font-family: V.$barlow;
        line-height: 1.5;
    }
}

.a {
    color: V.$lightCream;
    background-color: V.$DarkCyan;
    padding: 1rem 1.75rem;
    font-size: 1.20rem;
    border-radius: 5px;
    font-family: V.$fraunce;
    font-weight: 700;
    margin-left: 2.5%;
}
.a:hover {
    filter: brightness(150%);
}