@use '../variables' as V;

.container {
    width: 100%;
    height: auto;
    border: 1px solid red;
    color: red;
    display: flex;
    justify-content: space-evenly;
}

.selectionBox {
    width: 255px;
    font-family: V.$fraunce;
}

.numberSpan {
    color: rgba(131,136,143, .5);
    padding-right: 1.5rem;
}

.selectionName {
    color: V.$grey;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.65rem;
    font-weight: 600;
    border-bottom: 1px solid rgba(131,136,143, .5);
}

.selectionName:hover {
    cursor: pointer;
}

.selectionName:last-child {
    border-bottom: none;
}

.rightSelectionContainer {
    border: 1px solid red;
    width: 60%;
}

.selectionDropDownBox {
    border: 1px solid red;
    height: 400px;
    margin-bottom: 3rem;
}

.selectionTitleContainer {
    border: 1px solid green;
    font-family: V.$fraunce;
    color: V.$grey;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.downArrow:hover {
    cursor: pointer;
}

.upArrow {
    display: none;
}

.upArrow:hover {
    cursor: pointer;
}

.choiceBoxContainer {
    height: 280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choiceBox {
    background-color: #F4F1EB;
    width: 31%;
    height: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: .5rem 2.5rem;
    h4 {
        color: V.$DarkGreyBlue;
        font-family: V.$fraunce;
        font-size: 1.5rem;
    }
    p {
        margin-top: 0;
        color: V.$DarkGreyBlue;
        font-family: V.$barlow;
        line-height: 1.5;
    }
}

.choiceBox:hover {
    background-color: V.$PaleOrange;
    cursor: pointer;
}


