@use '../variables' as V;

.container {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.img {
    img {
        border-radius: 15px;
    }
}

.imgTablet {
    display: none;
    img {
        border-radius: 15px;
    }
}

.imgMobile {
    display: none;
    img {
        border-radius: 10px;
    }
}


.textContainer {
    width: 550px;
    height: auto;
    position: relative;
    z-index: 2;
    margin-top: -30%;
    margin-left: 85px;
    h2 {
        color: V.$lightCream;
        font-family: V.$fraunce;
        font-size: 2.6rem;
    }
    p {
        color: V.$lightCream;
        font-family: V.$barlow;
        width: 420px;
        line-height: 1.5;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 1000px) {
    .textContainer {
        margin-top: -32.5%;
        margin-left: 60px;
        h2 {
            font-size: 2rem;
        }
        p {
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .img {
        display: none;
    }

    .imgTablet {
        display: block;
    }

    .textContainer {
        position: absolute;
        margin-top: -45%;
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    .textContainer {
        text-align: center;
        margin-top: -47.5%;
        margin-left: 6%;
        width: 80%;
        h2 {
            font-size: 1.75rem;
        }
        p {
            width: 90%;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 500px) {
    .imgTablet {
        display: none;
    }

    .imgMobile {
        display: block;
    }

    .textContainer {
        position: absolute;
        top: 350px;
    }
}

@media screen and (max-width: 350px) {
    .textContainer {
        top: 250px;
    }
}

@media screen and (max-width: 325px) {
    .textContainer {
        top: 220px;
    }
}