@use '../variables' as V;

.container {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.textContainer {
    width: 550px;
    height: auto;
    position: relative;
    z-index: 2;
    margin-top: -30%;
    margin-left: 85px;
    h2 {
        color: V.$lightCream;
        font-family: V.$fraunce;
        font-size: 2.6rem;
    }
    p {
        color: V.$lightCream;
        font-family: V.$barlow;
        width: 420px;
        line-height: 1.5;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}