@use '../variables' as V;

.container {
    width: 90%;
    height: auto;
    margin: 0 auto;
}


.flexContainer {
    display: flex;
    z-index: 2;
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.imgContainer {
    width: auto;
    margin-right: 3.5%;
    img {
        border-radius: 10px;
    }
}

.imgContainerTablet {
    display: none;
    width: auto;
    margin: 0 auto;
    img {
        border-radius: 10px;
    }
}

.imgContainerMobile {
    display: none;
    width: auto;
    margin: 0 auto;
    img {
        border-radius: 5px;
    }
}

.textContainer {
    margin-left: 3.5%;
    margin-top: 3rem;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        color: V.$lightCream;
        font-family: V.$fraunce;
        font-size: 2.6rem;
    }
    p {
        color: V.$lightCream;
        font-family: V.$barlow;
        line-height: 1.75;
        margin-top: 0;
        width: 83%;
    }
}

.grayBox {
    width: 100%;
    height: 475px;
    border-radius: 10px;
    background-color: V.$DarkGreyBlue;
    margin-top: -25rem;
}

@media screen and (max-width: 1000px) {
    .flexContainer {
        flex-direction: column;
    }

    .textContainer {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .imgContainer {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .imgContainer {
        display: none;
    }

    .imgContainerTablet {
        display: block;
        width: 80%;
    }

    .textContainer {
       
        h2 {
            font-size: 2rem;
        }
        p {
            width: 100%;
        }
    }
}

@media screen and (max-width: 575px) {
    .textContainer {
        h2 {
            font-size: 1.75rem;
        }
    }
}

@media screen and (max-width: 500px) {

    .imgContainerMobile {
        display: none;
        img {
            width: 100%;
        }
    }

    .textContainer {
        width: 80%;
        margin-top: 0;
    }

    .flexContainer {
        margin: -5rem auto 0 auto;
    }

    .grayBox {
        height: 510px;
        margin-top: -27.5rem;
    }
  
}

@media screen and (max-width: 375px) {
    .imgContainerTablet {
        display: none;
    }

    .imgContainerMobile {
        display: block;
        width: 80%;
    }

    .grayBox {
        height: 550px;
        margin-top: -32.5rem;
    }
}

@media screen and (max-width: 300px) {

    .textContainer {
        h2 {
            font-size: 1.5rem;
        }
    }
    .grayBox {
        height: 650px;
        margin-top: -37.5rem;
    }
}
