@use 'variables' as V;


.container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background-color: V.$lightCream;
}

.leftFlexContainer {
    width: 250px;
    height: 26px;
}


.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 295px;
    align-items: center;
}

.a {
    color: V.$grey;
    display: inline;
    font-size: .8rem;
    font-family: V.$barlow;
    font-weight: 600;
}

.a:hover {
    cursor: pointer;
    color: V.$DarkGreyBlue;
}