@use 'variables' as V;

.container {
    width: 540px;
    height: 600px;
    background-color: V.$lightCream;
    background-color: red;
    position: absolute;
    margin-top: -50%;
    right: 10%;
    border-radius: 5px;
}